* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1103_79925 {
  width: 100%;
  height: 3983px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_79926 {
  width: 354px;
  height: 100px;
  background: url("../images/v1103_79926.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70px;
  left: 106px;
  overflow: hidden;
}
.v1103_79927 {
  width: 354px;
  color: rgba(230,230,230,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: All Round Gothic;
  font-weight: Bold;
  font-size: 80px;
  opacity: 1;
  text-align: left;
}
.v1103_79928 {
  width: 233px;
  color: rgba(131,71,219,1);
  position: absolute;
  top: 220px;
  left: 106px;
  font-family: Avenir Next;
  font-weight: Demi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1103_79930 {
  width: 100%;
  height: 646px;
  background: url("../images/v1103_79930.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 124px;
  overflow: hidden;
}
.v1103_79931 {
  width: 466px;
  height: 622px;
  background: rgba(131,71,219,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v1103_79932 {
  width: 466px;
  height: 408px;
  background: rgba(241,209,237,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
}
.v1103_79933 {
  width: 466px;
  height: 198px;
  background: rgba(225,225,225,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v1103_79936 {
  width: 194px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 106px;
  left: 135px;
  font-family: Avenir Next;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1103_79937 {
  width: 163px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 304px;
  left: 150px;
  font-family: Avenir Next;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1103_79938 {
  width: 113px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 263px;
  left: 175px;
  font-family: Avenir Next;
  font-weight: Demi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1103_79939 {
  width: 300px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 47px;
  left: 82px;
  font-family: Avenir Next;
  font-weight: Demi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1103_79940 {
  width: 104px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 532px;
  left: 180px;
  font-family: Avenir Next;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1103_79941 {
  width: 171px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 479px;
  left: 146px;
  font-family: Avenir Next;
  font-weight: Demi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1103_79942 {
  width: 479px;
  height: 49px;
  background: url("../images/v1103_79942.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 528px;
  overflow: hidden;
}
.v1103_79943 {
  width: 222px;
  color: rgba(141,140,142,1);
  position: absolute;
  top: 13px;
  left: 257px;
  font-family: Avenir Next;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v1103_79944 {
  width: 44px;
  color: rgba(141,140,142,1);
  position: absolute;
  top: 0px;
  left: 202px;
  font-family: Avenir Next;
  font-weight: Demi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1103_79945 {
  width: 118px;
  color: rgba(141,140,142,1);
  position: absolute;
  top: 13px;
  left: 52px;
  font-family: Avenir Next;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1103_79946 {
  width: 44px;
  color: rgba(141,140,142,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Demi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v1103_79947 {
  width: 608px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 64px;
  left: 528px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1103_79948 {
  width: 461px;
  color: rgba(141,140,142,1);
  position: absolute;
  top: 30px;
  left: 528px;
  font-family: Avenir Next;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1103_79949 {
  width: 624px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 480px;
  left: 528px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1103_79950 {
  width: 161px;
  color: rgba(141,140,142,1);
  position: absolute;
  top: 446px;
  left: 528px;
  font-family: Avenir Next;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v1103_79951 {
  width: 486px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 302px;
  left: 528px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1103_79952 {
  width: 637px;
  height: 45px;
  background: url("../images/v1103_79952.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1111px;
  left: 108px;
  overflow: hidden;
}
.v1103_79953 {
  width: 246px;
  color: rgba(131,71,219,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Demi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1103_79955 {
  width: 100%;
  height: 417px;
  background: url("../images/v1103_79955.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1261px;
  left: 0px;
  overflow: hidden;
}
.v1103_79956 {
  width: 100%;
  height: 417px;
  background: rgba(242,242,242,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_79957 {
  width: 507px;
  height: 391px;
  background: url("../images/v1103_79957.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 1px;
  overflow: hidden;
}
.v1103_79958 {
  width: 918px;
  height: 405px;
  background: url("../images/v1103_79958.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 522px;
  overflow: hidden;
}
.v1103_79959 {
  width: 830px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 1188px;
  left: 108px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1103_79960 {
  width: 834px;
  height: 228px;
  background: url("../images/v1103_79960.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1892px;
  left: 104px;
  overflow: hidden;
}
.v1103_79961 {
  width: 794px;
  height: 203px;
  background: rgba(26,24,28,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1103_79962 {
  width: 806px;
  height: 203px;
  background: rgba(131,71,219,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 28px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1103_79963 {
  width: 54px;
  height: 52px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 15px;
}
.v1103_79964 {
  width: 676px;
  color: url("../images/v1103_79964.png");
  position: absolute;
  top: 65px;
  left: 93px;
  font-family: Avenir;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1103_79965 {
  width: 801px;
  height: 228px;
  background: url("../images/v1103_79965.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2444px;
  left: 104px;
  overflow: hidden;
}
.v1103_79966 {
  width: 779px;
  height: 205px;
  background: rgba(26,24,28,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1103_79967 {
  width: 779px;
  height: 203px;
  background: rgba(241,209,237,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 22px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1103_79968 {
  width: 54px;
  height: 52px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 15px;
}
.v1103_79969 {
  width: 649px;
  color: url("../images/v1103_79969.png");
  position: absolute;
  top: 65px;
  left: 87px;
  font-family: Avenir;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1103_79970 {
  width: 710px;
  height: 214px;
  background: url("../images/v1103_79970.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2180px;
  left: 592px;
  overflow: hidden;
}
.v1103_79971 {
  width: 689px;
  height: 190px;
  background: rgba(26,24,28,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1103_79972 {
  width: 689px;
  height: 190px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 21px;
  border: 3px solid rgba(26,24,28,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v1103_79973 {
  width: 561px;
  color: url("../images/v1103_79973.png");
  position: absolute;
  top: 81px;
  left: 99px;
  font-family: Avenir;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1103_79974 {
  width: 68px;
  height: 65px;
  background: rgba(241,209,237,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 15px;
}
.v1103_79975 {
  width: 656px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 1818px;
  left: 242px;
  font-family: All Round Gothic;
  font-weight: XLig;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v1103_79976 {
  width: 156px;
  color: rgba(131,71,219,1);
  position: absolute;
  top: 2737px;
  left: 104px;
  font-family: Avenir Next;
  font-weight: Demi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1103_79977 {
  width: 156px;
  color: rgba(131,71,219,1);
  position: absolute;
  top: 2737px;
  left: 104px;
  font-family: Avenir Next;
  font-weight: Demi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1103_79979 {
  width: 720px;
  height: 406px;
  background: rgba(255,255,255,1);
  padding: 3px 3px;
  margin: 3px;
  opacity: 1;
  position: absolute;
  top: 2956px;
  left: 716px;
  overflow: hidden;
}
.v1103_79980 {
  width: 721px;
  height: 406px;
  background: rgba(248,204,70,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_79981 {
  width: 750px;
  height: 669px;
  background: url("../images/v1103_79981.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 260px;
  overflow: hidden;
}
.v1103_79982 {
  width: 264px;
  height: 406px;
  background: url("../images/v1103_79982.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_79983 {
  width: 264px;
  height: 406px;
  background: rgba(243,219,174,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_79984 {
  width: 264px;
  height: 406px;
  background: rgba(255,210,177,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_79985 {
  width: 203px;
  height: 180px;
  background: url("../images/v1103_79985.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 30px;
  overflow: hidden;
}
.v1103_79986 {
  width: 203px;
  height: 180px;
  background: url("../images/v1103_79986.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_79987 {
  width: 203px;
  height: 180px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0.37592586874961853px solid rgba(255,255,255,1);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v1103_79988 {
  width: 157px;
  height: 148px;
  background: url("../images/v1103_79988.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 22px;
  overflow: hidden;
}
.v1103_79989 {
  width: 110px;
  height: 18px;
  background: url("../images/v1103_79989.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_79990 {
  width: 14px;
  color: rgba(0,0,0,0.8700000047683716);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_79991 {
  width: 96px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 0px;
  left: 14px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_79992 {
  width: 143px;
  height: 119px;
  background: url("../images/v1103_79992.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 13px;
  overflow: hidden;
}
.v1103_79993 {
  width: 36px;
  color: rgba(26,24,28,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_79994 {
  width: 99px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 37px;
  left: 0px;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_79995 {
  width: 93px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 56px;
  left: 0px;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_79996 {
  width: 143px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 74px;
  left: 0px;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_79997 {
  width: 91px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 18px;
  left: 0px;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_79998 {
  width: 128px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 106px;
  left: 0px;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_79999 {
  width: 199px;
  height: 116px;
  background: url("../images/v1103_79999.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 246px;
  left: 280px;
  overflow: hidden;
}
.v1103_80000 {
  width: 199px;
  height: 116px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v1103_80001 {
  width: 169px;
  height: 84px;
  background: url("../images/v1103_80001.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 15px;
  overflow: hidden;
}
.v1103_80002 {
  width: 104px;
  height: 18px;
  background: url("../images/v1103_80002.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_80003 {
  width: 81px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 0px;
  left: 23px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_80004 {
  width: 16px;
  color: rgba(0,0,0,0.8700000047683716);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_80005 {
  width: 169px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 33px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80006 {
  width: 415px;
  height: 42px;
  background: url("../images/v1103_80006.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 283px;
  overflow: hidden;
}
.v1103_80007 {
  width: 415px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 0.37592586874961853px solid rgba(0,0,0,1);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v1103_80008 {
  width: 382px;
  color: rgba(153,127,101,1);
  position: absolute;
  top: 15px;
  left: 16px;
  font-family: Avenir Next;
  font-weight: Heavy Italic;
  font-size: 9px;
  opacity: 1;
  text-align: center;
}
.v1103_80009 {
  width: 203px;
  height: 277px;
  background: url("../images/v1103_80009.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 494px;
  overflow: hidden;
}
.v1103_80010 {
  width: 203px;
  height: 277px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v1103_80011 {
  width: 170px;
  height: 241px;
  background: url("../images/v1103_80011.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 15px;
  overflow: hidden;
}
.v1103_80012 {
  width: 98px;
  height: 18px;
  background: url("../images/v1103_80012.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_80013 {
  width: 78px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 0px;
  left: 20px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_80014 {
  width: 14px;
  color: rgba(0,0,0,0.8700000047683716);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_80015 {
  width: 169px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 33px;
  left: 1px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80016 {
  width: 199px;
  height: 143px;
  background: url("../images/v1103_80016.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 280px;
  overflow: hidden;
}
.v1103_80017 {
  width: 199px;
  height: 143px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v1103_80018 {
  width: 169px;
  height: 94px;
  background: url("../images/v1103_80018.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 15px;
  overflow: hidden;
}
.v1103_80019 {
  width: 57px;
  height: 18px;
  background: url("../images/v1103_80019.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_80020 {
  width: 38px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 0px;
  left: 19px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_80021 {
  width: 14px;
  color: rgba(0,0,0,0.8700000047683716);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_80022 {
  width: 169px;
  height: 61px;
  background: url("../images/v1103_80022.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v1103_80023 {
  width: 162px;
  color: rgba(26,24,28,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80024 {
  width: 169px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80025 {
  width: 169px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 18px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80026 {
  width: 116px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 29px;
  left: 30px;
  font-family: Avenir Next;
  font-weight: Demi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v1103_80027 {
  width: 720px;
  height: 406px;
  background: rgba(255,255,255,1);
  padding: 3px 3px;
  margin: 3px;
  opacity: 1;
  position: absolute;
  top: 2956px;
  left: 4px;
  overflow: hidden;
}
.v1103_80028 {
  width: 641px;
  height: 627px;
  background: url("../images/v1103_80028.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 891px;
  overflow: hidden;
}
.v1103_80029 {
  width: 100%;
  height: 100%;
  background: url("../images/v1103_80029.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 639px;
  left: 590px;
  overflow: hidden;
}
.v1103_80030 {
  width: 721px;
  height: 406px;
  background: rgba(241,209,237,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_80031 {
  width: 284px;
  height: 554px;
  background: url("../images/v1103_80031.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 122px;
  left: 20px;
  overflow: hidden;
}
.v1103_80032 {
  width: 264px;
  height: 406px;
  background: rgba(212,211,246,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_80033 {
  width: 457px;
  height: 406px;
  background: url("../images/v1103_80033.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 263px;
  overflow: hidden;
}
.v1103_80034 {
  width: 203px;
  height: 175px;
  background: url("../images/v1103_80034.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 32px;
  overflow: hidden;
}
.v1103_80035 {
  width: 203px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v1103_80036 {
  width: 163px;
  height: 149px;
  background: url("../images/v1103_80036.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 19px;
  overflow: hidden;
}
.v1103_80037 {
  width: 13px;
  color: rgba(0,0,0,0.8700000047683716);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_80038 {
  width: 95px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 0px;
  left: 14px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_80039 {
  width: 35px;
  height: 13px;
  background: url("../images/v1103_80039.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 14px;
  overflow: hidden;
}
.v1103_80040 {
  width: 35px;
  color: rgba(26,24,28,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80041 {
  width: 8px;
  color: rgba(0,0,0,0.8700000047683716);
  position: absolute;
  top: 2px;
  left: 15px;
  font-family: Avenir Next;
  font-weight: Medium;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v1103_80042 {
  width: 85px;
  height: 13px;
  background: url("../images/v1103_80042.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 14px;
  overflow: hidden;
}
.v1103_80043 {
  width: 85px;
  color: rgba(26,24,28,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80044 {
  width: 8px;
  color: rgba(0,0,0,0.8700000047683716);
  position: absolute;
  top: 2px;
  left: 15px;
  font-family: Avenir Next;
  font-weight: Medium;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v1103_80045 {
  width: 104px;
  height: 13px;
  background: url("../images/v1103_80045.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 84px;
  left: 14px;
  overflow: hidden;
}
.v1103_80046 {
  width: 104px;
  color: rgba(26,24,28,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80047 {
  width: 8px;
  color: rgba(0,0,0,0.8700000047683716);
  position: absolute;
  top: 2px;
  left: 15px;
  font-family: Avenir Next;
  font-weight: Medium;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v1103_80048 {
  width: 128px;
  height: 13px;
  background: url("../images/v1103_80048.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 13px;
  overflow: hidden;
}
.v1103_80049 {
  width: 128px;
  color: rgba(26,24,28,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80050 {
  width: 8px;
  color: rgba(0,0,0,0.8700000047683716);
  position: absolute;
  top: 5px;
  left: 14px;
  font-family: Avenir Next;
  font-weight: Medium;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v1103_80051 {
  width: 149px;
  height: 26px;
  background: url("../images/v1103_80051.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 14px;
  overflow: hidden;
}
.v1103_80052 {
  width: 149px;
  color: rgba(26,24,28,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80053 {
  width: 8px;
  color: rgba(0,0,0,0.8700000047683716);
  position: absolute;
  top: 16px;
  left: 15px;
  font-family: Avenir Next;
  font-weight: Medium;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v1103_80054 {
  width: 112px;
  height: 13px;
  background: url("../images/v1103_80054.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 14px;
  overflow: hidden;
}
.v1103_80055 {
  width: 112px;
  color: rgba(26,24,28,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80056 {
  width: 8px;
  color: rgba(0,0,0,0.8700000047683716);
  position: absolute;
  top: 2px;
  left: 15px;
  font-family: Avenir Next;
  font-weight: Medium;
  font-size: 8px;
  opacity: 1;
  text-align: left;
}
.v1103_80057 {
  width: 418px;
  height: 175px;
  background: url("../images/v1103_80057.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 280px;
  overflow: hidden;
}
.v1103_80058 {
  width: 418px;
  height: 175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v1103_80059 {
  width: 374px;
  height: 123px;
  background: url("../images/v1103_80059.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 19px;
  overflow: hidden;
}
.v1103_80060 {
  width: 88px;
  height: 18px;
  background: url("../images/v1103_80060.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_80061 {
  width: 69px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 0px;
  left: 19px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_80062 {
  width: 14px;
  color: rgba(0,0,0,0.8700000047683716);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_80063 {
  width: 374px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 34px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80064 {
  width: 203px;
  height: 48px;
  background: url("../images/v1103_80064.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 32px;
  overflow: hidden;
}
.v1103_80065 {
  width: 203px;
  height: 48px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v1103_80066 {
  width: 183px;
  color: rgba(133,90,128,1);
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: Avenir Next;
  font-weight: Heavy Italic;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80067 {
  width: 244px;
  height: 165px;
  background: url("../images/v1103_80067.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 452px;
  overflow: hidden;
}
.v1103_80068 {
  width: 244px;
  height: 165px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v1103_80069 {
  width: 214px;
  height: 136px;
  background: url("../images/v1103_80069.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 20px;
  overflow: hidden;
}
.v1103_80070 {
  width: 105px;
  height: 18px;
  background: url("../images/v1103_80070.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_80071 {
  width: 83px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 0px;
  left: 22px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_80072 {
  width: 15px;
  color: rgba(0,0,0,0.8700000047683716);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_80073 {
  width: 200px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80074 {
  width: 200px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 67px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80075 {
  width: 214px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 110px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80076 {
  width: 157px;
  height: 165px;
  background: url("../images/v1103_80076.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 281px;
  overflow: hidden;
}
.v1103_80077 {
  width: 157px;
  height: 165px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v1103_80078 {
  width: 127px;
  height: 122px;
  background: url("../images/v1103_80078.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 15px;
  overflow: hidden;
}
.v1103_80079 {
  width: 57px;
  height: 18px;
  background: url("../images/v1103_80079.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_80080 {
  width: 38px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 0px;
  left: 19px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_80081 {
  width: 14px;
  color: rgba(0,0,0,0.8700000047683716);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Bold;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1103_80082 {
  width: 127px;
  height: 88px;
  background: url("../images/v1103_80082.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v1103_80083 {
  width: 127px;
  color: rgba(26,24,28,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80084 {
  width: 127px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80085 {
  width: 127px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 62px;
  left: 0px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 9px;
  opacity: 1;
  text-align: left;
}
.v1103_80086 {
  width: 119px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 102px;
  left: 116px;
  font-family: Avenir Next;
  font-weight: Demi Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v1103_80087 {
  width: 994px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 2837px;
  left: 104px;
  font-family: Avenir;
  font-weight: Book;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1103_80088 {
  width: 100%;
  height: 621px;
  background: url("../images/v1103_80088.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3362px;
  left: 4px;
  overflow: hidden;
}
.v1103_80089 {
  width: 100%;
  height: 621px;
  background: rgba(241,209,237,1);
  opacity: 0.25;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1103_80090 {
  width: 100%;
  height: 521px;
  background: url("../images/v1103_80090.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 108px;
  overflow: hidden;
}
.v1103_80091 {
  width: 327px;
  height: 322px;
  background: url("../images/v1103_80091.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 414px;
  overflow: hidden;
}
.v1103_80092 {
  width: 407px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 0px;
  left: 383px;
  font-family: All Round Gothic;
  font-weight: XLig;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v1103_80093 {
  width: 376px;
  height: 254px;
  background: url("../images/v1103_80093.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 138px;
  left: 0px;
  overflow: hidden;
}
.v1103_80094 {
  width: 358px;
  height: 33px;
  background: url("../images/v1103_80094.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 0px;
  overflow: hidden;
}
.v1103_80095 {
  width: 320px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 0px;
  left: 38px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1103_80096 {
  width: 14px;
  height: 14px;
  background: rgba(255,109,109,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-radius: 50%;
}
.v1103_80097 {
  width: 376px;
  height: 33px;
  background: url("../images/v1103_80097.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 0px;
  overflow: hidden;
}
.v1103_80098 {
  width: 338px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 0px;
  left: 38px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1103_80099 {
  width: 14px;
  height: 14px;
  background: rgba(255,109,109,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-radius: 50%;
}
.v1103_80100 {
  width: 365px;
  height: 66px;
  background: url("../images/v1103_80100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 0px;
  overflow: hidden;
}
.v1103_80101 {
  width: 327px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 0px;
  left: 38px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1103_80102 {
  width: 14px;
  height: 14px;
  background: rgba(255,109,109,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-radius: 50%;
}
.v1103_80103 {
  width: 164px;
  color: rgba(131,71,219,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: All Round Gothic;
  font-weight: Book;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v1103_80105 {
  width: 375px;
  height: 287px;
  background: url("../images/v1103_80105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 234px;
  left: 818px;
  overflow: hidden;
}
.v1103_80106 {
  width: 375px;
  height: 66px;
  background: url("../images/v1103_80106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 82px;
  left: 0px;
  overflow: hidden;
}
.v1103_80107 {
  width: 342px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 0px;
  left: 32px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1103_80108 {
  width: 11px;
  height: 14px;
  background: rgba(255,109,109,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-radius: 50%;
}
.v1103_80109 {
  width: 375px;
  height: 66px;
  background: url("../images/v1103_80109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 168px;
  left: 0px;
  overflow: hidden;
}
.v1103_80110 {
  width: 337px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 0px;
  left: 38px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1103_80111 {
  width: 14px;
  height: 14px;
  background: rgba(255,109,109,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-radius: 50%;
}
.v1103_80112 {
  width: 253px;
  height: 33px;
  background: url("../images/v1103_80112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 254px;
  left: 0px;
  overflow: hidden;
}
.v1103_80113 {
  width: 215px;
  color: rgba(26,24,28,1);
  position: absolute;
  top: 0px;
  left: 38px;
  font-family: Avenir Next;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v1103_80114 {
  width: 14px;
  height: 14px;
  background: rgba(255,109,109,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-radius: 50%;
}
.v1103_80115 {
  width: 150px;
  color: rgba(131,71,219,1);
  position: absolute;
  top: 0px;
  left: 201px;
  font-family: All Round Gothic;
  font-weight: Book;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
